<p style="color: white">
  This is the gallery page! Here are all the cool things that I've made. You
  should give me money because I can do more of it and things.
</p>
<div class="filters">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategoryValue" (selectionChange)="onSetCategory($event)">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(value)]="selectedTypeValue" (selectionChange)="filterAndSortImages()">
      <mat-option *ngFor="let type of currentCategoryTypes" [value]="type.value">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="masonryGrid">
  <ngx-masonry [options]="masonryOptions">
    <div
      ngxMasonryItem
      class="masonry-item"
      *ngFor="let image of galleryContent; let i=index"
    >
      <div class="gallery-item" (click)="openLightbox(i)">
        <ng-container [ngSwitch]="image.thumbnail.type">
          <img
            [src]="image.thumbnail.imagePath"
            *ngSwitchCase="'image'"
            width="400"
          />

          <div class="flip-box" *ngSwitchCase="'flip-image'">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img [src]="image.thumbnail.frontImagePath" width="400" />
              </div>
              <div class="flip-box-back">
                <img [src]="image.thumbnail.backImagePath" width="400" />
              </div>
            </div>
          </div>
        </ng-container>

        <div class="gallery-item-x-info">
          <div class="gallery-item-x-info-title" *ngIf="image.pieceTitle">
            {{ image.pieceTitle }} - {{ image.creationDate }}
          </div>
          <caption class="gallery-item-x-info-title" *ngIf="image.caption">
            {{
              image.caption
            }}
          </caption>
        </div>
      </div>
    </div>
  </ngx-masonry>
</div>
<p>
  bar
</p>
