// define 3 theme color
@use '~@angular/material' as mat;
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat.define-palette(mat.$gray-palette, 700, 300, 900);
$my-theme-accent: mat.define-palette(mat.$light-blue-palette);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$quinn-site-theme: mat.define-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);